* {
    box-sizing: border-box;
}

#container{
    max-width: 1200px;
    min-height: 800px;
    margin: 0 auto;
}


body {
    font-family: 'Inter', sans-serif;
    margin: 0;
}

header {
    margin: 0 auto;
    position: relative;
    background:#99ABB5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    max-width: 1200px;
    height:250px;
    background-color: #99ABB5;
    animation: colorchange 5s ease; 
}

@keyframes colorchange{
    0%{background-color: #99ABB5;}
    10% {background-color:#7093A9;}
    20%{background-color: #4E5C56;}
    30%{background-color: #1e293b;}
    40%{background-color: #1D2C26;}
    50%{background-color: #99ABB5;}
    60%{background-color: #7093A9;}
    70%{background-color: #4E5C56;}
    80%{background-color: #1e293b;}
    90%{background-color: #1D2C26;}
    100%{background-color: #99ABB5;}



}

h1 {
    font-family: 'Syne';
    font-weight: 700;
    font-size: 3rem;
    color: white;
    margin: 10px 0;
    position: relative;
    z-index: 10;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

h2 {
    font-family:'Ovo';
    font-weight: 300;
    font-size: 1.125rem;
    color: rgba(255, 255, 255, 0.9);
    margin: 5px 0;
    position: relative;
    z-index: 10;
    letter-spacing: 0.5px;
}

main {
    background-color: #4E5C56;
    display: flex;
    gap: 30px;
    padding: 70px;
    justify-content: space-between;
}

section {
    flex: 1;
}

h3 {
    color: #1D2C26;
    font-family: Syne;
    font-size: 20px;
    font-weight: 700;
    line-height: 50px;
    text-align: center;
    background-color:#7093A9 ;
    color: #1e293b;
    margin-bottom: 10px;
    height: 49.36px;

}

nav ul {
    background-color: #1D2C26 ;
    height: 220px;
    list-style-type: none;
    padding: 18px 0 0 40px;    

    margin: 0;
}

nav li {
    margin-bottom: 11px;
    max-width: 170px ;

}

nav a {
    font-family: Ovo;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height:15px;
    text-align: center;
    height: 28.446px;
    background-color:#E1CEB3 ;
    color: #1D2C26;
    text-decoration: none;
    padding: 8px 12px;
    display: block;
    border-radius: 42px;
    transition: all 0.3s ease;
    position: relative;
}

nav a:hover {
    background-color: #4E5C56;
    color: #E6E7EAff;
    transform: translateY(-5px);
    cursor: pointer;
}

footer {
    background: #E1CEB3;    
    padding: 22px;

}

footer p {
    margin: auto;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 1rem;
}

footer a {
    
    border-radius: 35px;
    background-color: #7093A9;
    color: #1D2C26;
    text-decoration: none; 
    padding: 12px 24px;
    text-align: center;     
    font-family: Ovo;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

footer a:hover{
    background-color: #1D2C26;
    color: #E1CEB3;
    cursor: pointer;

}